[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = DSS_py is a Distributed System Simulator.
[access "refs/*"]
	owner = group user/Md Haris Iqbal (harisphnx)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Md Haris Iqbal (harisphnx)
	label-Verified = -1..+1 group user/Md Haris Iqbal (harisphnx)
	push = group user/Md Haris Iqbal (harisphnx)
	read = group user/Md Haris Iqbal (harisphnx)
	rebase = group user/Md Haris Iqbal (harisphnx)
	removeReviewer = group user/Md Haris Iqbal (harisphnx)
	submit = group user/Md Haris Iqbal (harisphnx)
[access "refs/heads/*"]
	create = group user/Md Haris Iqbal (harisphnx)
	push = +force group user/Md Haris Iqbal (harisphnx)
	pushMerge = group user/Md Haris Iqbal (harisphnx)
	read = group user/Md Haris Iqbal (harisphnx)
[access "refs/tags/*"]
	push = group user/Md Haris Iqbal (harisphnx)
	push = +force group user/Md Haris Iqbal (harisphnx)
